// Colour Pallette
$pampas:        #F9F8F6;              // Light Shades
$cement:        #917C68;                 // Light Accent
$indian-khaki:  hsl(33, 29%, 65%);    // Main Brand Colour
$matrix:        #A2594F;    // Dark Accent
$thunder:       #272527;    // Dark Shades

// Buttons
$primary-button:    #c0a98c;
$info-button:       #272527;
$success-button:    #6fad62;
$warning-button:    #ec9d2a;
$danger-button:     #f44336;