@import './colours.scss';

//Light Mode Colours
$light_background:  $pampas;
$light_text : black;

// GLOBAL

body {
    color: $light_text;

}


// INDEX
.post, .featured-post{
    h1 {
        color: $thunder;
    }
    
    .post-title {
        font-weight: 900;
        a {
            color: $matrix;
        }
    }

    .read-more-link {
        a {

            color: $matrix
        }
    }
}
