@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300,600;900&display=swap');
@import './components/posts';
@import './components/post';
@import './components/index';

@import './fa/fontawesome.scss';
@import "./fa/solid.scss";
@import "./fa/brands.scss";

@import './components/partials/nav';
@import './components/partials/menu';

@import './components/partials/footer';
// Resets

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@media (prefers-color-scheme: light) {
    @import './light-theme.scss';
}




body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    strong {
        font-weight: 600;
    }
}

.container {
    max-width: 1400px;
    display: flex;
    flex-flow: row wrap;
    .content {
        margin: 2em 3em;
        padding: 2em 1.5em;
        background-color: $pampas;
        border: 1px solid $matrix;
        flex: 1 1 100%;
    }
}

// Posts
