@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300,600;900&display=swap');
@import './components/posts';
@import './components/post';
@import './components/index';
// Resets

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@media (prefers-color-scheme: light) {
    @import './light-theme.scss';
}




body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1400px;
}

// Posts
