
// Posts and Main Front Matter
@import './components/posts';
@import './components/post';
@import './components/index';

// Fonts
@import './fa/fontawesome.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300,600;900&display=swap');

// Colours
@import "./fa/solid.scss";
@import "./fa/brands.scss";


// Navigation Elements
@import './components/partials/nav';
@import './components/partials/menu';
@import './components/partials/footer';

// Resets

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@media (prefers-color-scheme: light) {
    @import './light-theme.scss';
}
@media (prefers-color-scheme: dark) {
    @import './light-theme.scss'; //TO-DO: Dark Theme
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-size: 16px;

    strong {
        font-weight: 600;
    }
}

.container {
    max-width: 1400px;
    display: flex;
    flex-flow: row wrap;
    .content {
        margin: 2em 3em;
        padding: 2em 1.5em;
        flex: 1 1 100%;
    }
}