@import './colours.scss';

.home {
    margin: 2em 3em;
    padding: 2em 1.5em;
    background-color: $pampas;
    border: 1px solid $matrix;


    .post, .featured-post {
        margin: 0 0 2em 0;

        .post-date {
            display: block;
            font-weight: 600;
            margin: 0.5em 0;
        }

        .post-title {
            font-weight: 600;
            a {
                text-decoration: none;
            }
        }
        .read-more-link {
            margin: 0.5em 0;
             a {
                font-weight: 600;
                
            }
        } 
    }

    .image-hero {
        h1 {
            font-weight: 600;
            flex: 0 0 100%;
            padding-bottom: 1rem;
            color: $matrix;
        }
        background-color: $indian-khaki;
        margin: 1rem -2.5rem 4rem -2.5rem;
        padding: 1rem;
        border: 1px solid black;
        box-shadow: 1px 1px 0px $thunder,
                2px 2px 0px $thunder,
                3px 3px 0px $thunder,
                4px 4px 0px $thunder,
                5px 5px 0px $thunder,
                6px 6px 0px $thunder;

        flex-flow: row wrap;
        flex: 0 0 100%;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        display: flex;

        .image {
            flex: 0 0 15%;
            display: flex;
            margin: 0 0.5em;
            img {
                border: 0.1em solid $thunder;
                border-radius: 1.5rem;
            }

        }

    }
    .featured-post {
        flex-flow: row wrap;
        flex: 0 0 100%;
    }
    .historical-posts {
        margin: 1em 0;
        display: flex;
        flex-flow: row wrap;
        
        .post {
            flex: 0 0 33%;
            max-width: 33%;
        }
    }
    .post:nth-child(2), .post:nth-child(5) {
        padding-left: 1em;
        border-left: 1px solid black;
        border-right: 1px solid black;
    } 
    .post:nth-child(3), .post:nth-child(6) {
        padding-left: 1em;
    }

}

