<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
    {{ block "header" . -}}{{- end }}
	</head>
    <body>
        
        <div class="container">
            {{ partial "head.html" . }}
            <div class="content">
                {{ block "content" . }}{{ end }}
            </div>
            
            <div class="footer">
                {{ block "footer" . }}{{ end }}
            </div>
        </div>
        {{ partial "footer.html" . }}
        <!-- Google Analytics -->
        {{ if .Site.GoogleAnalytics -}}
            {{ template "_internal/google_analytics_async.html" . }}
        {{- end }}        
    </body>
</html>
