<div class="post">
  <h1>{{ .Title }}</h1>



  {{ if ne .Params.showpagemeta false }}
  


  
  <div class="col-sm-12 col-md-12">
    <span class="text-left post-date meta">
      <!-- published date -->      
      {{ if not .Date.IsZero }} 
        <i class="fas fa-calendar-alt"></i> {{ .Date.Format (.Site.Params.dateformat | default "Jan 02, 2006") -}}
      {{ end }}
    </span>  
  </div>    
  {{ if .Params.pictures }}
  {{ $path := .Params.pictures }}
  {{ $image := resources.Get $path }}
  {{ $thumbnail := $image.Fill "900x900 smart" }}
  {{ with $image }}
      {{ with .Exif }}
          {{ $orientation := .Tags.Orientation }}
          {{ if eq $orientation 6 }}
              {{ $thumbnail = $thumbnail.Resize "900x r270"}}

          {{ end }}
      {{ end }}
  {{ end }}
  <img class="galleryimage" src="{{ $thumbnail.Permalink }}">
{{ end }}


  {{ end }}
  {{ .Content }}
  
</div>