{{ define "header" -}}
  {{ partial "header.html" . }}
{{- end }}

{{ define "content" -}}
  <div class="home">
  {{ $pages := where site.RegularPages.ByPublishDate.Reverse "Type" "in" site.Params.mainSections }}
    
  {{ range first 1 $pages }}
        <div class="featured-post">
        <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <span class="post-date">
          {{- .Date.Format (.Site.Params.dateformat | default "Jan 02, 2006") -}}
        </span>
        {{ .Summary }} 
        {{ if .Truncated }}
        <div class="read-more-link">
            <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        {{ end }}
        </div>
  {{- end }}

  {{/* IMAGES*/}}

  <div class="image-hero">
  <h1>Recent Images</h1>
  {{ range first 5 (where site.RegularPages.ByPublishDate.Reverse "Type" "in" "images") }}
  
  <span class="image">
    {{ if .Params.pictures }}
        {{ $path := .Params.pictures }}
        {{ $image := resources.Get $path }}
        {{ $thumbnail := $image.Fill "200x200 smart" }}
        {{ with $image }}
            {{ with .Exif }}
                {{ $orientation := .Tags.Orientation }}
                {{ if eq $orientation 6 }}
                    {{ $thumbnail = $thumbnail.Resize "200x r270"}}
                    {{ $thumbnail = $thumbnail.Fit "200x200"}}
                {{ end }}
            {{ end }}
        {{ end }}
        
        
    
        <a href="{{ .Permalink }}">
            <img class="galleryimage" src="{{ $thumbnail.Permalink }}">
        </a>
    {{ end }}
  </span>
{{- end }}
</div>
  <div class="historical-posts">
  {{ range first 3 (after 1 $pages) }}
  <div class="post">
  <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  <span class="post-date">
    {{- .Date.Format (.Site.Params.dateformat | default "Jan 02, 2006") -}}
  </span>
  </div>
{{- end }}
  </div>
{{- end }}

{{ define "footer" -}}
{{- end }}